# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
notebooks/*.ipynb

*.pkl
models/
notebooks/models/

# Data
data/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/


# Env vars
.env
